.auth-container {
  height: 100vh;
  background: linear-gradient(rgba(0,0,60,0.8), rgba(0,0,60,0.8)),
              url("../Assets/hero1.png") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

.auth-card h2 {
  color: #0b1c48;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-primary {
  width: 100%;
  background: #ffcc00;
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background: #e6b800;
  transition: 0.3s;
}